@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:300,400,500,700');

/* General & Headers */
body {
    background-color: #808080;
    margin: 0;
  }

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.5px;
}

h1, h2, h3, h4 {
  margin: 0 0 0 0;
}

h1 {
	font-weight: 300;
  font-size: 38px;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-weight: 300;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 0.5px;
  font-family: 'Open Sans', sans-serif;
  
}

/* Button */
#CTAButton {
  background-color: #ffc700;
  border: 0;
  margin-top: 0;
  color: #6c2d32;
  padding: 10px 24px;
  text-align: center;
  align-items: center;
  font-size: 15px;
  border-radius: 0px 5px 5px 0px;
  font-family: 'Open Sans';
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
  height: 54px;
  transition: all 0.4s;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.08);
}

 /* Button Transition On Hover */
#CTAButton:hover {
  background-color: #FFDD64;
  color: #555555;
}

/* Navigation Bar */
  .Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10;
    background: #14485f;
    height: 60px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.05);
    
  }

/* Navigation Menu */
  .Nav a {
    /* flex-basis: 150px; */
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    color: #aaa;
  }
  
  .Nav a:hover {
    color: #ffffff;
  }

  .Nav .feather:hover {
    color: #ffc700;
  }

  .NavItem1, .NavItem2, .NavItem3, .NavItem4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Nav .feather {
    width: 16px;
    height: 16x;
    color: #aaa;
    margin-right: 10px;
  }

  .NavItem1 {
    color: white;
  }

  .NavItem1 .feather {
    margin-bottom: 3px;
    color: #ffc700;
  }

  .NavItem2 .feather {
    margin-bottom: 3px;
  }

  .NavItem3 .feather {
    margin-bottom: 2px;
  }

  .NavItem4 .feather {
    margin-bottom: 1px;
  }

  /* Navigation Menu - Right Side */
  #NavRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 30;
    height: 60px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-family: 'Roboto', sans-serif;
  }

  #NavRight a {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
  }

  /* Navigation Button */
  #NavButton {
    background-color: #ffc700;
    border: none;
    color: #6c2d32;
    padding: 8px 24px;
    text-align: center;
    align-items: center;
    display: inline-block;
    border-radius: 5px;
    z-index: 20;
    height: 38px;
    margin-right: 15px;
    transition: all 0.4s;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-family: 'Roboto', sans-serif;
}

/* Button Transition On Hover */
  #NavButton:hover {
    background-color: #0c74ee;
    color: white;
  }

/* Center Navigation Image (Under Box) */
  .Nav img {
    width: 100px;
    height: 10px;
    padding: 0 20px 0 20px;
  }

/* Floating Logo */
  #NavLogo {
    display: flex;
    justify-content: center;
    align-items: top;
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
  }
  #NavLogo img {
    align-items: center;
    position: absolute;
    z-index: 20;
    height: 100px;
    width: 100px;
    left: 50%;
    border-radius: 0px 0px 3px 3px;
    transform: translateX(-50%); /* Sliding Transform on Scroll */
    
  }

/* Full Height Block Sections */
  /* Block 1 - Adjustments */

  .Background-Image {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    background-image: url("./GraphTest4.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    opacity: 0.2;
    top: 0;
    left: 0%;
    z-index: 2;
  }
  .landing {
    display: flex;
    justify-content: center;
    align-items: end;
    top: 0;
    left: 0;
    position: relative;
    width: 100vw;
    background-color: #0c74ee;
    height: 100vh;

  }

   .contentblock  {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    color: white;
    position: absolute;
    bottom: 0%;
    width: 100vw;
    z-index: 3;

    
  }

  .contentblock :nth-child(1) { order: 1; }
  .contentblock :nth-child(2) { order: 2; }
  .contentblock :nth-child(3) { order: 3; }
  .contentblock :nth-child(4) { order: 4; }
  .contentblock :nth-child(5) { order: 5; }

  .landing img {
    margin-top: 10vh;
    width: 40%;

  }
  .landing h1 {
    margin: 0;
  }

  .landing h2, .Square {
    margin: 2vh 0 0 0; 
    text-align: center;
  }

  .landing .input {
    margin: 6vh 0 0 0; 
  }

/* Header White Square */
.Square {
  background-color: white;
  padding: 15px 20px;
  color: #0c74ee;
  border-radius: 3px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.08);
}

.Square h2 {
  margin: 0px 0px;
}

#EmailCTA {
  width: 300px;
  border: 0;
  margin: 0;
  color: #6c2d32;
  padding: 10px 24px;
  align-items: center;
  font-size: 15px;
  border-radius: 5px 0px 0px 5px;
  font-family: 'Open Sans';
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
  height: 54px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.08);
}

.input, .Square {
  display: flex;
  align-items: center;
  justify-content: center;
}
 





/* Second Block */

  .block2 {
    display: flex;
    justify-content: center;
    align-items: top;
    top: 0;
    left: 0;
    position: relative;
    width: 100vw;
    background-color: #12263f;
    height: calc(100vh - 70px);
  }

  .block2 img {
    width: 40%;
  }

  .block2content  {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: white;
    position: absolute;
    top: 0%;
    width: 100vw;
    z-index: 3;
  }

  .block2content p {
  text-align: center;
  margin: 2vh 0 0 0; 
  }

  .block2content h1 {
    text-align: center;
    margin: 6vh 0 0 0; 
    }

/* Flex Columns */
  .block2content :nth-child(1) { order: 1; }
  .block2content :nth-child(2) { order: 2; }
  .block2content :nth-child(3) { order: 3; }
  .block2content :nth-child(4) { order: 4; }
  .block2content :nth-child(5) { order: 5; }

 
 .threeblocks {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-top: 4vh;
 }

 .threeblocks :nth-child(1) { order: 1; }
 .threeblocks :nth-child(2) { order: 2; }
 .threeblocks :nth-child(3) { order: 3; }
 
  .infoblock1, .infoblock2, .infoblock3 {
    width: 18vw;
    padding: 40px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
  }

  .infoblock1 {
    background-color: #293b51;
  }

  .infoblock2 {
    border: #ffc700 solid 2px;
    color: #ffc700;
  }

  .infoblock3 {
    background-color: #ffc700;
    color: #6c2d32;
  }
  /* Third Block */
  
  .block3 {
    background-color: #171e24;
    height: calc(100vh - 70px);
  }
